body{
    margin: 0px;
    h1,h2,span{
        font-family: 'Albert Sans', sans-serif;
    }
    .main-body-wrapper{
        height: 100vh;
        .image-wrapper{
            background-color: #0f1025;
            position: relative;
            height: 100vh;
            img{
                width: 100%;
                position: relative
            }
            .logo{
                img{
                    position: absolute;
                    top: 25px;
                    left: 25px;
                    width: 30%;
                }
            }
            .welcome-text{
                position: absolute;
                top: 55%;
                width: fit-content;
                margin: 0 30px;
                line-height: 56px;
                
                h1{
                    text-align: left;
                    color: white;
                    font-weight: 800;
                    margin: 0;
                    font-size: 3rem;
                }
                h2{
                    text-align: left;
                    display: block;
                    color: white;
                    margin: 0;
                    font-size: 3rem;
                }
            }
        }
    }
}
.stop-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
@media (min-width:768px){
    body{
        margin: 0px;
        h1,h2,span{
            font-family: 'Albert Sans', sans-serif;
        }
        .main-body-wrapper{
            height: 100vh;
            .image-wrapper{
                background-color: #0f1025;
                position: relative;
                height: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    position: relative
                }
                .logo{
                    img{
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        width: 20%;
                    }
                }
                .welcome-text{
                    position: absolute;
                    top: 75%;
                    width: fit-content;
                    margin: 0 30px;
                    line-height: 70px;
                    left: 20%;
                    h1{
                        text-align: left;
                        color: white;
                        font-weight: 800;
                        margin: 0;
                        font-size: 4rem;
                    }
                    h2{
                        text-align: left;
                        display: block;
                        color: white;
                        margin: 0;
                        font-size: 4rem;
                    }
                }
            }
        }
    }

}
@media (min-width:1024px){
    body{
        margin: 0px;
        h1,h2,span{
            font-family: 'Albert Sans', sans-serif;
        }
        .main-body-wrapper{
            height: 100vh;
            .image-wrapper{
                background-color: #0f1025;
                position: relative;
                height: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    position: relative
                }
                .logo{
                    img{
                        position: absolute;
                        top: 35px;
                        left: 90px;
                        width: 15%;
                    }
                }
                .welcome-text{
                    position: absolute;
                    top: 80%;
                    width: 100%;
                    margin: 0;
                    line-height: 70px;
                    left: 0%;
                    h1{
                        text-align: center;
                        color: white;
                        font-weight: 800;
                        margin: 0;
                        font-size: 4rem;
                    }
                    h2{
                        text-align: left;
                        display: block;
                        color: white;
                        margin: 0;
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}

@media (min-width:1200px){
    body{
        margin: 0px;
        h1,h2,span{
            font-family: 'Albert Sans', sans-serif;
        }
        .main-body-wrapper{
            height: 100vh;
            .image-wrapper{
                background-color: #0f1025;
                position: relative;
                height: auto;
                img{
                    width: 100%;
                    position: relative
                }
                .logo{
                    img{
                        position: absolute;
                        top: 3vw;
                        left: 8vw;
                        width: 10%;
                    }
                }
                .welcome-text{
                    position: absolute;
                    top: 60%;
                    width: 100%;
                    margin: 0;
                    line-height: 70px;
                    left: 0%;
                    h1{
                        text-align: center;
                        color: white;
                        font-weight: 800;
                        margin: 0;
                        font-size: 6rem;
                    }
                    h2{
                        text-align: left;
                        display: block;
                        color: white;
                        margin: 0;
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}